.monitor {
    padding: var(--length-padding);
    max-width: var(--length-width);
    margin: 0 auto;
    white-space: pre-wrap;
}

.density-view{
    display: block;
    width: 500px;
    max-width: 100%;
}