body {
    --color-text: #cccccc;
    --color-light: #8f8f8f;
    --color-string: #df9e61;
    --color-number: #B5CEA8;
    --color-keyword: #cc80c6;
    --color-function: #DCDCAA;
    --color-variable: #6ec0ec;
    --color-modifier: #3074ac;
    --color-class: #4EC9B0;
    --color-warn: #F44747;
    --color-comment: #6A9955;
    --color-border: #2e3133;
    --color-bg: #131313;
    --color-area: #161616;
    --color-pre: #191b1d;
    --color-slice: rgba(88, 88, 88, 0.5);
    --color-selection: rgba(95, 144, 163, 0.5);
    --color-span: rgba(58, 61, 65, 0.5);
    --font: icomoon, "Segoe UI", "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --length-width-side: 280px;
    --length-width-bar: 15px;
    --length-padding: 2em;
    --length-padding-pre: 1em;
    --length-padding-cell: .5em;
    --length-padding-span: .3em;
    --length-padding-circle: .2em;
    --length-margin-title: 1em;
    --length-margin-heading: .5em;
    --length-margin-display: .25em;
    --length-radius-pre: .5em;
    --length-radius-span: .3em;
    --length-font-title: 1.8em;
    --length-font-heading: 1.3em;
    --length-font-span: .85em;
    --length-font-log: .8em;
    --length-font-circle: .7em;
    --length-space: .25em;
    --length-space-gap: .5em;
    --length-space-tab: 2em;
    --number-ratio-line: 1.5;
    line-height: var(--number-ratio-line);
    font-family: var(--font);
    color: var(--color-text);
    background-color: var(--color-bg) !important;
    font-size: 16px;
}

@media screen and (max-width:650px) {
    body {
        font-size: 15.5px
    }
}

@media screen and (max-width:600px) {
    body {
        font-size: 15px
    }
}

@media screen and (max-width:550px) {
    body {
        font-size: 14.5px
    }
}

@media screen and (max-width:500px) {
    body {
        font-size: 14px
    }
}

@media screen and (max-width:450px) {
    body {
        font-size: 13.5px
    }
}

@media screen and (max-width:400px) {
    body {
        font-size: 13px
    }
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-slice);
}

a {
    color: inherit;
    text-decoration: none;
}

a[href] {
    color: var(--color-modifier);
}

a[href]:hover {
    text-decoration: underline;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
    font: inherit;
    color: var(--color-text);
    border-radius: var(--length-radius-span);
    padding: var(--length-padding-circle) var(--length-padding-pre);
    background-color: var(--color-slice);
    border: none;
    outline: none;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover {
    background-color: var(--color-selection);
}

img {
    max-width: 100%;
    max-height: 280vh;
    filter: grayscale(50%) brightness(50%);
    display: block;
}

input,
select,
textarea,
.input,
.select,
.textarea {
    font: inherit;
    color: var(--color-text);
    padding: 0 var(--length-padding-circle);
    margin: 0;
    background-color: transparent;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: var(--length-radius-span);
}

input:focus,
select:focus,
textarea:focus,
.input:focus,
.select:focus,
.textarea:focus {
    border-color: var(--color-variable);
}

select,
.select {
    padding: 0;
}

textarea {
    resize: none;
}

.console>.item{
    margin-bottom: var(--length-margin-heading);
}

.idsDensityView{
    display: block;
    width: 500px;
    max-width: 100%;
}